span , a{
    text-decoration: none;
    color: white;
}
i{
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.p{
    font-size: 0.8rem;
    font-weight: 600;
}
p{
    font-size: 0.8rem;
}
.letter-spacing{
    letter-spacing: 2px !important;
}